@model BotDetectCAPTCHADemo.Models.ViewModels.CaptchaViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "JQueryValidation";
}

<h2>前端驗證 JQueryValidation</h2>
@using (Html.BeginForm("JQueryValidation", "CaptchaSample", FormMethod.Post, new { @class = "captchaForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col col-xs-12 title">
            @Html.DisplayNameFor(model => model.CaptchaCode)
        </div>
        <div class="col col-xs-12">
            @Html.EditorFor(model => model.CaptchaCode, new { htmlAttributes = new { @class = "form-control captchaVal", placeholder = "請輸入驗證碼" } })
        </div>
        <div class="col col-xs-12">
            @{ MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha") { UserInputID = "CaptchaCode" }; }
            @Html.Captcha(exampleCaptcha)
        </div>
        <div class="col col-xs-12">
            <button type="submit" class="btn btn-info">驗證</button>
        </div>
    </div>
}

@section Styles {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/validationRules.js"></script>
}