@model BotDetectCAPTCHADemo.Models.ViewModels.CaptchaViewModel
@using BotDetect.Web.Mvc;
@using BotDetectCAPTCHADemo.Helpers;
@{
    ViewBag.Title = "相關設定";
}

<h2>相關設定範例</h2>
@using (Html.BeginForm("Setting", "CaptchaSample", FormMethod.Post, new { @class = "captchaForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col col-xs-12 title">
            @Html.DisplayNameFor(model => model.CaptchaCode)
        </div>
        <div class="col col-xs-12">
            @Html.EditorFor(model => model.CaptchaCode, new { htmlAttributes = new { @class = "form-control captchaVal", placeholder = "請輸入驗證碼" } })
        </div>
        <div class="col col-xs-12">
            @{ MvcCaptcha exampleCaptcha = CaptchaHelper.GetRegistrationCaptcha(); }
            @Html.Captcha(exampleCaptcha)
        </div>
        <div class="col col-xs-12">
            <button type="button" class="btn btn-default captcha-ReloadImage-btn">重新整理</button>
            <button type="submit" class="btn btn-info">驗證</button>
        </div>
    </div>
}

@section Styles {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/captcha.js"></script>
}